/* 
   using root since this assignment will also be used on the 
   contact page my of group project and there are certain style 
   choices that we might want to change as a group.
*/

:root {
    /* --- Pink Colors --- */
    --main-color: #bd7482;
    --darklightpink-color: #d8b4b7;
    --lightpink-color: #EED4D6;
    --whitepink-color: #F6EEEF;

    /* --- Green Colors --- */
    --darklightgreen-color: #73986F;
    --lightgreen-color: #ACB9A6;

    /* --- Fonts --- */
    --font-main: "roboto", sans-serif;
}

body{
    font-family: var(--font-main);
    font-weight: 900;
    color: var(--lightpink-color);
}

