
header{
    background-color: var(--mint-bkgr);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid lightgray 1px;
}

header button{
    background-color: var(--main-color);
}

header a{
    color: var(--desc-green);
}

header a:hover{
    color: var(--main-color);
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

h1{
    color: var(--main-color);
    font-size: 70px;
    display: flex;
    justify-content: center;
}

p{
    font-size: 18px;
}

.logo{
    width: 200px;
    height: 30%;
}

section{
    padding: 6em 2em 4em 2em;
}

/* --- MULTIPLE CONTACT BOXES --- */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-boxes{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 50px;
}

.contact{
    background-color: var(--mint-bkgr);
}

/* --- HOW CAN WE HELP ---*/
.help{
    color: var(--main-color);
    border: dotted 2px;
    border-radius: 80px;
    width: 1100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 5px;
}

/* --- CONTACT INFO --- */
.contact-info{
    color: var(--main-color);
    border: dotted 2px;
    border-radius: 80px;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}

.contact-info h2,
.location h2,
.help h2{
    font-size: 45px;
    line-height: 0px;
}

.contact-info a{
    color: var(--main-color);
    font-size: 20px;
    line-height: 45px;
}

/* --- LOCATION BOX ---*/

.location{
    color: var(--main-color);
    border: dotted 2px;
    border-radius: 80px;
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
}

.location img{
    width: 370px;
    height: 222px;
    border: dotted 2px;
    border-radius: 80px;
}

/* --- CONTACT FORM --- */

.image-form{
    display: flex;
    flex-direction: row;
}

.contact-form h2{
    font-size: 50px;
    color: var(--main-color);
}

.contact-form{
    /* --- Background --- */
    background-color: var(--lightgreen-color); 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form__bg{
    /* --- the div or "picture frame" --- */
    width: 875px;
    height: 934px;
    flex-shrink: 0; 
    overflow: hidden;
    /*flex shrink makes sure that the item can never shrink smaller than it's set size*/
}

.contact-form__bg img{
    /* --- Background Image --- */
    width:875px ;
    height: 934px;
    object-fit: cover;
}

.form-box{
    /* --- Container --- */
    background-color: var(--main-color);
    width: 505px; 
    height: 910px;
    border-radius: 80px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    background-color: var(--whitepink-color);
    border: none;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
}

textarea{
    background-color: var(--whitepink-color);
    border: none;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
}

input::placeholder{
    color: var(--darklightpink-color);
    font-size: 15px;
    font-weight: 500;
}

textarea::placeholder{
    color: var(--darklightpink-color);
    font-size: 15px;
    font-weight: 500;
}

select{
    background-color: var(--whitepink-color);
    color: var(--darklightpink-color);
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 15px;

    appearance: none;
    background-image: url(../images/angle-down-solid-full.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px 25px;
}

textarea:focus,
input:focus,
select:focus{
    outline: 2px solid var(--darklightpink-color);
    outline-offset: -5px; /* for the outline to have some padding inside the box*/
}

form input:hover, 
form textarea:hover, 
form select:hover{
    background-color: white;
}

form input,
form textarea{
    cursor: text;
}

/* --- Checkboxes --- */

.form-content--checkbox{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    padding-left: 30px;
}

/* the text went outside the cointainer so this was the solve that Claude suggested*/
.form-content--checkbox label{
    flex: 1;
    min-width: 0;
}

 .checkbox{
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    left: 0;
}

.checkmark {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../images/square-solid-full.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
}

.checkbox:hover + .checkmark{
    transform: scale(2);
}

.checkbox:checked + .checkmark{
    background-image: url(../images/square-check-solid-full.svg);
}

a{
    color: var(--pink-bkgr);
}

a:hover{
    color: var(--offwhite-bkgr);
}

/* --- Button --- */
button{
    background-color: var(--darklightgreen-color);
    color: var(--whitepink-color);
    font-weight: 800;
    border: none;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

button:hover{
    background-color: darkolivegreen;
    color: white;
}

/* --- FOOTER --- */
footer{
    background-color: var(--pink-bkgr);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 20px;
    gap: 20px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer a{
    color: var(--main-color);
}

footer a:hover{
    color: var(--desc-green);
}

.socials{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

footer p{
    color: var(--main-color);
}

.nav-socials p{
    color: var(--main-color);
    font-size: 25px;
    line-height: 0;
}

/* --- SUBSCRIBE FORM --- */

.subscribe-form{
    color: var(--main-color);
    background-color: var( --scnd-bkgr-pink);
    border-radius: 80px;
    width: 750px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.subscribe-form form{
    gap: 15px;
}

.subscribe-form label{
    font-size: 25px;
    display: flex;
    justify-content: center;
    
}

.input-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.subscribe-form input{
    width: 400px;
}

.subscribe-form button{
    background-color: var(--main-color);
}

.subscribe-form button:hover{
    background-color: darkolivegreen;
}