/* ------- Base ------- */


body {
  min-width: 1240px;
  color: #000;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;
}
a {
  text-decoration: none;
}


/* ------- Header navbar ------- */
.header-nav {
  color: var(--main-color);
  height: 120px;
  margin: 0;
  padding: 0;
}
.header-navbar {
  display: flex;
  align-items: center;
  min-height: 100%;
  padding: 0 2em;
}
.header-logo {
  align-self: center;
  width: 200px;
  height: 80%;
  margin: 0;
  padding: 0;
}
.header-logo-link:hover {
  opacity: 0.5;
}
.header-navbar-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
}
.header-navbar-link:visited {
  color: var(--main-color);
}
.header-navbar-link:hover {
  color: var(--darklightpink-color);
}
.header-navbar-item {
  width: 150px;
}


/* ------- Hero section ------- */

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 1240px;
  padding: 2em;
  background-color: var(--lightgreen-color);
}
.hero-content {
  width: 700px;
  margin-right: 40px;
}
.hero-eyebrow {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--main-color);
}
.hero-title {
  font-family: "Space Grotesk", sans-serif!important;
  font-weight: 800;
  font-size: 5em;
  line-height: 1;
  color: var(--darklightgreen-color);
  margin: 12px 0 12px 0;
}
.hero-title--pink {
  color: var(--main-color);
}
.hero-desc {
  font-size: 20px;
  width: 600px;
  font-weight: 500;
}
.hero-info {
  width: 600px;
}
.btn-primary {
  background-color: var(--main-color);
  margin-top: 3em;
  color: #fff;
}
.hero-img {
  width: 700px;
  height: 587px;
  border: 1px solid #fff;
  border-radius: 80px;
}
.hero-img > img {
  width: 700px;
  height: 587px;
  border-radius: 80px;
  object-fit: cover;
}
.hero-product-cards {
  display: flex;
  justify-content: space-evenly;
  width: 1473px;
  margin-top: 3em;
}
.hero-product-card {
  width: 473px;
  height: 360px;
  margin-right: 15px;
  border-radius: 80px;
  object-fit: cover;
}
.hero-product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80px;
  border: 1px solid #fff;
}
.hero-product-card:last-of-type {
  margin-right: 0;
}

/* ------- Gallery section ------- */

.gallery {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 1240px;
  padding: 2em;
}
.gallery-content {
  width: 800px;
  padding: 2em;
}
.gallery-title {
  color: var(--main-color);
  font-size: 4em;
  text-align: center;
  margin-bottom: 20px;
}
.gallery-desc {
  font-size: 20px;
  text-align: center;
}
.gallery-cards {
  width: 1240px;
  display: grid;
  gap: 33px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.gallery-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 391px;
  height: 360px;
  grid-row: auto;
  grid-column: auto;
  border-radius: 40px;
  position: relative;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.gallery-img:hover {
  opacity: 0.5;
}
.btn-gallery {
  background-color: var(--darklightpink-color);
  color: #fff;
  margin-top: 0;
  position: absolute;
}
.btn-gallery:hover {
  background-color: #fff;
  color: var(--main-color);
}
.gallery-expand {
  grid-column: 2;
  display: flex;
  justify-content: center;
  height: 40%;
}

/* ------- Products section ------- */
.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 1240px;
  text-align: center;
  margin-top: 0;
}
.product-content {
  width: 700px;
}
.product-title {
  font-size: 3em;
  color: var(--darklightgreen-color);
  margin: 0 0 20px 0;
}
.product-desc {
  font-size: 20px;
}
.product-cards {
  margin-top: 2em;
  justify-content: center;
  display: grid;
  gap: 40px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.product-card {
  width: 473px;
  height: 360px;
  border-radius: 80px;
  grid-row: auto;
  grid-column: auto;
}
.product-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 80px;
}
.product-usp {
  font-size: 20px;
  width: 400;
  height: 180px;
  text-align: center;
  margin-top: 1em;
  border: 2px dashed var(--darklightpink-color);
  border-radius: 80px;
  padding: 2em;
}
.product-usp-icon {
  color: var(--main-color);
  background-color: var(--lightpink-color);
  padding: 1em;
  border-radius: 50%;
}

